exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom("stats", "rexp", "runif", "rbinom")
importFrom("stats", "coef", "model.frame", "model.matrix", "qnorm", "start")
importFrom("utils", "modifyList")
useDynLib(CRFparallel, .registration = TRUE)
